# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.so
*.log
*.sqlite3

# Env files
.env
.env.*

# Node/Angular
node_modules/
dist/
.angular/
coverage/

# Dev/test artifacts
tests/
data/
scripts/
*.csv
*.xlsx
*.ipynb
*.ps1
logs/
.coverage
.coverage.*
htmlcov/
.tox/
nox/

# Keep critical JSON configs
*.json
!package.json
!package-lock.json
!pyrightconfig.json

# IDEs
.vscode/
.idea/

# Docs and markdown
*.md
README.md

# Archives
*.zip
*.tar.gz
